* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: "Gothic A1", sans-serif;
  }
  body {
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,225,233,1) 100%);
  }
 


  /* header start */
  /* nav start */
  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
  .navbar__links a {
    color: white;
    text-decoration: none;
  }
  .navbar__links a:first-child {
    color:lightcoral;
  }
  
  .navbar__links {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 120px;
  }
  .navbar__links button {
    width: 10%;
    height: 30%;
    border:1px solid lightpink;
    border-radius: 20px;
  }
  input {
    border:1px solid lightpink;
    border-radius: 20px;
   }
   .search{
    color: lightcoral;
   }

  .navbar__links button:hover {
background-color:lightskyblue ;

  }
  .navbar__links a:hover {
    color: lightcoral;
}
   /* nav end */


   /* main start */

   /* personal info start */
.personalinfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:#ebcddb;
    padding: 3%;
    width: 80%;
    margin: 0 auto;

}
.personalinfo__right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personalinfo__right img {
    width: 50%;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 2%;
    width: 50%;
  }
  .btn:hover {
    background-color: RoyalBlue;
  }
  .personalinfo__left h1{
    color:lightcoral;
  }

  .personalinfo__left {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .personalinfo__left-each {
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 100%;
   
  }
  .personalinfo__left-row p{
    display: flex;
    flex-direction: row;
  }
  .personalinfo__left-txt{

    color:white;
  }
  .personalinfo__left-column {
    display: flex;
    flex-direction: column;

  }
  .personalinfo__left-q {
    display: flex;
    flex-direction: row;
    
  }
 .question {
    color: lightcoral;
 }
 .answer {
    color: white;
 }
 .personalinfo__left-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
.contacts__first {
    color:lightcoral;
}
.contacts__second {
    color: white;
}
/* links start */
.personalinfo__links{
    width: 10%;
    margin-left: 10%;
    
}
/* links end */
/* skills start */
/* .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.each-circle{
    display: flex;
    flex-direction: column;
   gap: 10%;
    align-items: center;
    justify-content: center;
}
.skills__left{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.skills__add {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}

.skills__circle {
    display: flex;
    flex-direction: row;
}

.skills__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.skills >h2 {
    color: lightcoral;
    font-size: 4vw;
}
.skills__part{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
* {box-sizing:border-box}


.container {
  width: 100%; 
   background-color: #ddd;  
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white;
  width: 80%;
}

.html {width: 90%; background-color: #04AA6D;} 
.css {width: 80%; background-color: #2196F3;} 
.js {width: 65%; background-color: #f44336;} 
.php {width: 60%; background-color: #808080;} 

@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 12rem;
    --fg: #369;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  


/* skills end */
 
   /* personal info end */
   /* education start */

   .education {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
   
   }
   .education__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   }
   .education__column {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .languages__column img {
    width: 20vw;
   }
   .education__year {
    color: white;
    background-color: lightcoral;
    font-size: 2vw;
   }
   .education__place{
    color: lightcoral;
    font-size: 1.6vw;
   }
   .education__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10%;
    margin-top: 10%;

   }
   .education__cards-in {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: white;
    width: 40%;
   }
   .education h2 {
    color: lightcoral;
    font-size: 4vw;
   }
 
   /* education end */
   /* languages start */
   .languages__row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   }
   
   /* languages end */

   /* main end */

  /* burger menu start */
#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: white;
  
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  
    transition-duration: 0.25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  .hamburger-menu {
    display: none;
  }
  /* burger menu end */
  /* header end */






  /* adaptive start */
  @media all and (max-width:1200px){
    .navbar__links  {
      display:none;
    }
    .hamburger-menu{
      display: block;
    }
    .menu__btn {
      display: block;
    }
  }
  @media all and (max-width:1024px){
    .personalinfo{
        display: flex;
        flex-direction: column;
    }
    .personalinfo__links {
    display: none;
    }
    .skills__row{
     display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills__circle {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .skills__left h2{
        align-self: center;
    
    }

  }

  @media all and (max-width:425px){
   .personalinfo {
    margin: 0 auto;
   }

   .skills__circle{
    display: flex;
    flex-direction: column;
   }
   .personalinfo__left-txt{
    display: none;
   }
   .btn{
    display: none;
   }
   .education{
    display: none;
   }
    
  }
  @media all and (max-width:320px){
    .personalinfo__left{
        display: none;
    }
  }
 
  /* adaptive end */